body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

form {
    margin-top: 30px;
}

.btn {
    margin-top: 10px;
    background-color: #00FF5F; 
    color: black;
    border-radius: 8px;
    border: none;
}

    .btn:hover {
        background-color: #347928;
    }
